<div id="home" data-role="page">
	<div data-role="header">
		<h1><%= t("session.title") %></h1>
	</div>
	<div data-role="content">
		<%= link_to "Twitterでlogin","/auth/twitter" %>
		<%= link_to "facebookでlogin", "/auth/facebook" %>
	</div>
</div>

