<div id="home" data-role="page">
	<div data-role="header">
		<h1>Hello</h1>
	</div>
	<div data-role="content">
		<div data-role="navbar" data-iconpos="left" >
			<ul>
	 			<li><a href="#" onclick="stakeholder_ajax.initRegisterStakeHolder(); return false;" data-role="button">Home</a></li>
	 			<li><a href="#basic" data-role="button">ホームにカテゴリーを作成</a></li>
			</ul>
		</div>
	</div>
	<%= render 'shared/footer' %>
</div>